.signup-wrapper-div {
    height: 100%;
    width: 100%;
    background-image: url('../assets/DigitalBg.png');
    background-size: cover;
    display: flex;
}

.signup-section {
    width: 45%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    justify-self: center;
    display: flex;
    align-self: center;
}