.stepper-wrapper {
    margin: 10px 20px;
    justify-content: center;
}

.step-label .MuiStepLabel-iconContainer {
    padding: 0;
}

.step-label .MuiStepLabel-labelContainer {
    visibility: none;
}